.certificates
  &__list
  &__item
    display: inline-block
    margin-bottom: 2rem

    &__link
      position: relative
      display: block
    &__img
      max-width: 100%
      filter: grayscale(100%)
      transition: filter 0.5s
    &__title
      display: flex
      align-items: center
      justify-content: center
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      color: $white
      font-weight: bold
      text-transform: uppercase
      opacity: 0
      background-color: rgba(#000, .3)
      transition: opacity 0.5s
      
    &:hover
      .certificates__item__img
        filter: grayscale(0)
      .certificates__item__title
        opacity: 1

// .mfp-no-margins 
//   img
//     &.mfp-img
// 	    padding: 0
//   .mfp-figure
//     &:after
//     top: 0
//     bottom: 0
//   .mfp-container 
//     padding: 0

        


  