<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Магма</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#5bbad5">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic" rel="stylesheet">


	<!-- Template Basic Images End -->
	
  <!-- Custom Browsers Color Start -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ff0000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

  <section class="nav__section" id="nav">
    <div class="nav__header">
      <div class="container">
        <div class="row nav__header__row">
          
          <a href="mailto:magma_kzn@mail.ru" class="col nav__header__link">
            <img src="img/svg/mail.svg" class="nav__header__link__icon" alt="">
            <span>magma_kzn@mail.ru</span>
          </a>
          <a href="/" class="nav__header__logo">
              <img src="img/svg/magma_logo.svg" class=" nav__header__logo__img" alt="">
          </a>
          <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="tel:8 843 214-58-33" class="col nav__header__link">
              <img src="img/svg/phone.svg" class="nav__header__link__icon" alt="">
              <span>8 843 214-58-33</span>
          </a>
        </div>
      </div>
    </div>

    <div class="nav__menu">
      <div class="container">
        <div class="row">
          <nav class="col navbar navbar-expand-lg navbar-dark bg-dark">
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              
              <ul class="navbar-nav">

                <li class="nav-item">
                  <a class="nav-link" href="/">ГЛАВНАЯ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">ПОРТФОЛИО ПРОЕКТОВ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="our_product.html">НАШИ ПРОДУКТЫ</a>
                </li>

                <li class="nav-item dropdown active">
                  <a class="nav-link " href="production.html"  role="button"  aria-haspopup="true" aria-expanded="false">
                    ПРОИЗВОДСТВО 
                  </a>
                  <span class="dropdown-btn" data-toggle="dropdown"></span>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="production.html">ОБОРУДОВАНИЕ</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="production.html">ТЕХНОЛОГИИ</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="gratitude.html">БЛАГОДАРНОСТИ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">КОНТАКТЫ</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <section class="production" id="production">
    <div class="container production__container">
      <div class="row production__row">
        <div class="col-12">
          <div class="section__title">ТЕХНОЛОГИИ НАШЕГО ПРОИЗВОДСТВА</div>
        </div>
      </div>
    </div>
    <div class="production__inner">
      <div class="container">

        <div class="row production__item">
          <div class="col-lg-6 production__img-block">
              <div class="production__img-block__img">
                <img src="img/production/production_001.jpg" alt="" class="production__img-block__img">
             </div>
          </div>
          <div class="col-lg-6 production__text-block">
            <div class="production__text-block__title">Изготовление и сборка металлических конструкций</div>
            <div class="production__text-block__text">
                <p>Обрабатывая металлические профили, мы делаем многие комплектующие для красивой и прочной мебели.</p>
                <p>Сначала они нарезаются на фрагменты нужного размера и формы, а затем передаются специалисту, который собирает из них различные детали.</p>
                <p>Многообразие выпускаемых деталей позволяет создавать практически любой дизайн мебели.</p>
            </div>
          </div>
        </div>

        <div class="row production__item">
          <div class="col-lg-6 production__img-block">
                <div class="production__img-block__img">
              <img src="img/production/production_002.jpg" alt="" class="production__img-block__img">
            </div>
          </div>
          <div class="col-lg-6 production__text-block">
            <div class="production__text-block__title">Изготовление и сборка металлических конструкций</div>
            <div class="production__text-block__text">
                <p>Обрабатывая металлические профили, мы делаем многие комплектующие для красивой и прочной мебели.</p>
                <p>Сначала они нарезаются на фрагменты нужного размера и формы, а затем передаются специалисту, который собирает из них различные детали.</p>
                <p>Многообразие выпускаемых деталей позволяет создавать практически любой дизайн мебели.</p>
            </div>
          </div>
        </div>

        <div class="row production__item">
            <div class="col-lg-6 production__img-block">
                  <div class="production__img-block__img">
                <img src="img/production/production_003.jpg" alt="" class="production__img-block__img">
              </div>
            </div>
            <div class="col-lg-6 production__text-block">
              <div class="production__text-block__title">Изготовление и сборка металлических конструкций</div>
              <div class="production__text-block__text">
                  <p>Обрабатывая металлические профили, мы делаем многие комплектующие для красивой и прочной мебели.</p>
                  <p>Сначала они нарезаются на фрагменты нужного размера и формы, а затем передаются специалисту, который собирает из них различные детали.</p>
                  <p>Многообразие выпускаемых деталей позволяет создавать практически любой дизайн мебели.</p>
              </div>
            </div>
          </div>

          <div class="row production__item">
              <div class="col-lg-6 production__img-block">
                    <div class="production__img-block__img">
                  <img src="img/production/production_004.jpg" alt="" class="production__img-block__img">
                </div>
              </div>
              <div class="col-lg-6 production__text-block">
                <div class="production__text-block__title">Изготовление и сборка металлических конструкций</div>
                <div class="production__text-block__text">
                    <p>Обрабатывая металлические профили, мы делаем многие комплектующие для красивой и прочной мебели.</p>
                    <p>Сначала они нарезаются на фрагменты нужного размера и формы, а затем передаются специалисту, который собирает из них различные детали.</p>
                    <p>Многообразие выпускаемых деталей позволяет создавать практически любой дизайн мебели.</p>
                </div>
              </div>
            </div>


      </div>
    </div>
  </section>

  <section class="footer" id="footer">
    <div class="container footer__container">
      <div class="row footer__row">

        <div class="col-md-4 footer__col">
          <div class="footer__col__inner">
            <div class="footer__logo">
              <img src="img/svg/magma_logo_white.svg" alt="">
            </div>
            <div class="footer__text"><p>Компания «Магма».<br>Все права защищены ©</p></div>
          </div>
        </div>

        <div class="col-md-4 footer__col">
          <div class="footer__col__inner">
            <div class="footer__text"><p>420000, г. Казань,<br>ул. Амирхана, д. 23</p></div>
            <a href="tel:8 843 214-58-33" class="footer__link">8 843 214-58-33</a>
            <a href="mailto:magma_kzn@mail.ru" class="footer__link">magma_kzn@mail.ru</a>
          </div>
        </div>

        <div class="col-md-4 footer__col">
          <div class="footer__col__inner">
            <div class="footer__text"><p>Следите за нами<br>в соцсетях:</p></div>
            <a href="#" class="footer__soc instagram"></a>
            <a href="#" class="footer__soc vk"></a>
          </div>
        </div>
        
      </div>
    </div>
  </section>

	<script src="js/scripts.min.js"></script>

</body>
</html>
